















<!DOCTYPE html>
<h lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <div class="navbar">
            <h1 style="margin-left: 20px;">  M K Clothes</h1>
            <div class="navbar-1">
                <p class="navbar-link"><a href="index.html">home</a></p>
                <p class="navbar-link"><a href="collection.html">collection</a></p>
                <p class="navbar-link"><a href="contact.html">contact</a></p>


            </div>
            <div class="navbar-toggle" onclick="shownav()">
                <p class="i"><i class="fa-solid fa-bars"></i></p>

            </div>
        </div>


        <div class="side-bar" onclick="closenav()">
            <p style="text-align: right;"><i class="fa-solid fa-xmark"></i></p>
            <div class="side-bar-link">
                <p class="navbar-link"><a href="index.html">home</a></p>
                <p class="navbar-link"><a href="collection.html">collection</a></p>
                <p class="navbar-link"><a href="contact.html">contact</a></p>


            </div>
        </div>
          


        <div class="product-section">
            <form>
                <input type="text" id="search" placeholder="search" style="text-align: center; margin-left: 23%;">
            </form>
            <div class="product" id="products">
                <div class="product-box">
                    <img src="black1.jpg">
                    <p>black shirt</p>

                </div>
                <div class="product-box">
                                        <img src="green.jpg">
                    <p>green shirt</p>

                </div>

           
            
                
                <div class="product-box">
                    <img src="black2.jpg">
                    <p>black shirt</p>

                </div>
                <div class="product-box">
                    <img src="white1.jpg">
                    <p>white shirt</p>

                </div>
                <div class="product-box">
                    <img src="yelo.jpg">
                    <p>yellow shirt</p>

                </div>
                <div class="product-box">
                    <img src="grey.jpg">
                    <p>grey shirt</p>

                </div>
                <div class="product-box">
                    <img src="print.jpg">
                    <p>printed shirt</p>

                </div>
                <div class="product-box">
                    <img src="black3.jpg">
                    <p>black shirt</p>

                </div>

              
            </div>  

            </div>

        </div>
        
       
        

                
          
            <div class="footer">
                <div class="footer-1">
                    <h2>M K clothes</h2>
                    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, eligendi.</h4>
                    @ 2024 MKclothes.com
                </div>

            </div>

        </div>
















        <script src="collection.js"></script>

        </div>
    </body>

    </html>